<% average = movie.average_scores_per_category %>
<% total = movie.overall_average_score.to_s %>
<div id="<%= dom_id movie %>">
  <div><strong>Name:</strong> <%= movie.name %></div>
  <div><strong>Description:</strong> <%= movie.description %></div>
  <div><strong>Ratings: <%= total %></strong>
  <%= average %>
  </div>
</div>
