<p style="color: green"><%= notice %></p>

<h1>Movies</h1>
<h3><%= link_to "New movie", new_movie_path %></h3>
<br/>

<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
    <p>
      <%= link_to "Show this movie", movie %>
      &nbsp
      <%= link_to "Show ratings", movie_ratings_path(movie) %>
      &nbsp
      <%= link_to "Rate this movie", new_movie_rating_path(movie) %>
    </p>
    <hr/>
  <% end %>
</div>
