<h1>New rating</h1>
<p> Rating for <b><%= @movie.name %></b> </p>

<%= form_with(model: [@movie, @rating]) do |form| %>
  <%= render "form", form: form %>

  <br>
  <div>
    <%= form.submit 'Submit rating' %>
  </div>
<% end %>

<br>
<div>
  <%= link_to "Back to ratings", movie_ratings_path(@movie) %>
</div>
